<%= ui_sidebar_menu do %>
  <%= ui_sidebar_menu_item do %>
    <div class="relative w-full" data-controller="ui-dropdown-menu" data-action="click@window->ui-dropdown-menu#outsideClick" data-slot="dropdown-menu">
      <%= ui_sidebar_menu_button(
            size: :lg,
            class: "data-[state=open]:bg-sidebar-accent data-[state=open]:text-sidebar-accent-foreground",
            aria: { haspopup: "menu", expanded: "false" },
            data: { ui_dropdown_menu_target: "trigger", action: "click->ui-dropdown-menu#toggle keydown->ui-dropdown-menu#triggerKeydown" }
          ) do %>
        <div class="bg-sidebar-primary text-sidebar-primary-foreground flex aspect-square size-8 items-center justify-center rounded-lg">
          <%= ui_icon("gallery-vertical-end") %>
        </div>
        <div class="flex flex-col gap-0.5 leading-none">
          <span class="font-medium">Documentation</span>
          <span>v<%= default_version %></span>
        </div>
        <%= ui_icon("chevrons-up-down", class: "ml-auto") %>
      <% end %>

      <%= ui_dropdown_menu_content(align: :start, class: "min-w-56 rounded-lg") do %>
        <% versions.each do |version| %>
          <%= ui_dropdown_menu_item do %>
            v<%= version %>
            <% if version == default_version %>
              <%= ui_icon("check", class: "ml-auto") %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>
