<div class="flex items-center gap-4">
  <%= ui_icon("download") %>
  <%= ui_icon("bell", label: "Notificações") %>
  <%= ui_button(variant: :outline, size: :sm) do %>
    <%= ui_icon("mail") %>
    Mensagem
  <% end %>
  <%= ui_button(size: :icon, variant: :secondary) do %>
    <%= ui_icon("plus", label: "Adicionar item") %>
  <% end %>
</div>
